.rating {
  display: flex;
  align-items: center;
  svg {
    margin-left: 5px;
    color: rgb(213, 213, 56);
  }
}

.image {
  object-fit: contain;
  align-self: center;
}

.card {
  padding: 20px;
}
