@import '../variables.scss';

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
  align-self: flex-start;
}

.star {
  svg {
    stroke: black;
    color: white;
    stroke-width: 10px;
    cursor: pointer;
  }

  &.fill {
    svg {
      color: var(--color-yellow);
    }
  }
}
