.list :global(.list-group-item) {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

:global(.list-group-item).item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    visibility: hidden;
    opacity: 0;
    margin-left: auto;
  }

  &:hover button {
    opacity: 1;
    visibility: visible;
  }
}
