.list :global(.list-group-item) {
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

:global(.list-group-item).item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .adminActions,
  .editActions {
    visibility: hidden;
    opacity: 0;
    margin-left: auto;
    position: absolute;
    top: 5px;
    right: 5px;

    button:not(:last-child) {
      margin-right: 5px;
    }
  }

  &:hover:not(.editing) .adminActions {
    opacity: 1;
    visibility: visible;
  }

  &:hover.editing .editActions {
    opacity: 1;
    visibility: visible;
  }
}

.editing {
}
